name: Deploy to Xserver

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # ① リポジトリ取得
      - name: Checkout repository
        uses: actions/checkout@v4

      # ⑤ XserverへFTPデプロイ
      - name: Deploy to Xserver
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.XSERVER_HOST }}
          username: ${{ secrets.XSERVER_USER }}
          password: ${{ secrets.XSERVER_PASS }}
          local-dir: frontend/dist/
          # ↓ サーバー側のパスの冒頭を「./」に、最後を「/」なしにしてみる
          server-dir: ./satoshio.net/public_html2/
          # ↓ 何が起きているか詳細に見るための設定を追加
          log-level: verbose
